<?xml version="1.0"?>
<robot name="inverted_pendulum">

  <ros2_control name="PendulumInterface" type="system">
    <hardware>
      <plugin>mujoco_sim/PendulumMujocoHardwareInterface</plugin>
    </hardware>

    <joint name="pivot">
      <command_interface name="effort"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <sensor name="tip_sensor">
      <state_interface name="y"/>
      <state_interface name="z"/>
      <state_interface name="vy"/>
      <state_interface name="vz"/>
    </sensor>

  </ros2_control> 
  <!-- Base Link (Fixed to world) -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="2.0"/>
      <inertia ixx="0.02" ixy="0.0" ixz="0.0" iyy="0.02" iyz="0.0" izz="0.02"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.2 0.1"/>
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.2 0.1"/>
      </geometry>
    </collision>
  </link>

  <!-- Pendulum Link -->
  <link name="pendulum_link">
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.0001"
               ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.0"/>
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 1.0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03" length="1.0"/>
      </geometry>
    </collision>
  </link>

  <!-- Revolute Joint -->
  <joint name="pivot" type="revolute">
    <parent link="base_link"/>
    <child link="pendulum_link"/>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/> <!-- rotation around Y axis (2D plane X-Z) -->
    <limit lower="-3.14" upper="3.14" effort="10.0" velocity="5.0"/>
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

</robot>
